body {
    margin: 0px;
    padding: 0px;
    background: #ebebeb;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/*头部*/
.nav-header{
    width: 100%;
    height: 45px;
    background-color: #222;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-header .logo a{
    float: left;
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
    line-height: 45px;
    width: 200px;
    text-decoration: none;
}

.navbar {
    float: right;
    right: 20px;
}

.navbar .nav > li > a {
    color: #fff;
}
